
.container{
	background: black;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgb(215, 39, 186);

	/*text-decoration: none;*/
}
.container h1{
	font-family: 'Satisfy', cursive;
	font-size: 4em;
	letter-spacing: 15px;
	transition: .3s;

}
.container h1:hover{
	text-shadow: 2px 2px white;

}
.linkContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25vw;
	font-size: .7em;
	letter-spacing: 15px;
	transition: .3s;
}
.linkContainer:hover{
	text-shadow: 2px 2px white;
}
.navContainer{
	height: 30vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}