.container{
	background: black;
	color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.editBox{
	border: 2px solid black;
	display: flex;
	justify-content: space-between;
	width: 60vh;
	margin-left: 3%;
}
.button{
	border: 3px solid rgb(215, 39, 186);
	border-radius: 5px;
	padding: 1%;
	font-size: 1em;
	width: unset; 
}
.button:hover{
	background: black;
	color:rgb(215, 39, 186);
	border: 3px solid white;
	
}